@import '@/styles/mixin.scss';
@import '@/styles/variables.scss';

.container {
    @include container;
    position: relative;
    margin-top: 158px;
}

.wrapper h1{
    font-size: 40px;
    margin-bottom: 20px;
}

.menu {
    margin-top: 37px;
    display: grid;
    grid-template-columns: repeat(3, 350px); /* 3 колонки */
    grid-auto-rows: minmax(95px, 120px);
    row-gap: 20px;
    column-gap: 31px;
}

.content {
    display: flex; /* Используем flexbox для размещения иконки и текста */
    align-items: center; /* Центрируем по вертикали */
    font-size: 20px;
    border: 1px solid #ccc; /* Добавляем границу для визуализации ячеек */
    border-radius: 20px; /* Скругляем углы */
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    padding: 20px 10px;
}

.content svg{
    width: 70px;
    height: 40px;
    margin-left: 13px;
    margin-right: 20px;
}

.one{
    background-color: #3D8568;
    color: #fff;
}

.one svg{
    width: 70px;
    height: 40px;
}

.two {
    grid-column: span 1; /* Оставляем 1 колонку */
    grid-row: span 2; /* Объединяем по вертикали на 2 строки */
    width: 350px;
    height: 245px;
}

.thore{
    grid-column: 2;
    height: 95px;
}

.thore svg{
    margin-right: 3px;
    margin-left: 5px;
}

.three{
    grid-column: 3;
    height: 95px;
}

.three svg{
    width: 47px;
    height: 40px;
    margin-right: 17px;
}

.five{
    height: 95px;
    background-color: #3D8568;
    color: #fff;
}

.five svg{
    margin-right: 3px;
    margin-left: 5px;
}

.six {
    grid-column: span 2; /* Объединяем по горизонтали на 2 колонки */
    grid-column: 2;
    height: 95px;
    width: 731px;
}

.six svg{
    margin-left: 4px;
  margin-right: 5px;
}

.text{
    margin-top: 15px;
    width: 700px;
}

.text_under{
    margin: 22px 0;
    width: 740px;
}

.image{
    top: 10px;
    right: 172px;
    position: relative;
    z-index: 10;
}

.image img{
    width: 524px;
    height: auto;
}

@include viewport--m{
    .container {
        width: 720px;
        position: relative;
        z-index: 1;
        padding-bottom: 50px;
        margin-top: 40px;
    }

    .wrapper h1{
        font-size: 36px;
        margin-bottom: 20px;
    }

    .menu {
        position: relative;
        margin-top: 37px;
        display: grid;
        grid-template-columns: repeat(2, 330px); /* 3 колонки */
        row-gap: 21px;
        column-gap: 31px;
    }
    
    .content {
        display: flex; 
        align-items: center; 
        font-size: 20px;
        border: 1px solid #ccc; 
        border-radius: 20px; 
        text-decoration: none; 
        padding: 20px 10px;
    }
    
    .content svg{
        width: 70px;
        height: 40px;
        margin-left: 13px;
        margin-right: 20px;
    }
    
    .one{
        width: 330px;
        background-color: #3D8568;
        color: #fff;
    }
    
    .one svg{
        width: 70px;
        height: 40px;
    }
    
    .two {
        background-image: src('../../public/img/task__purpose-bg--asset.png');
        grid-column: span 1; /* Оставляем 1 колонку */
        grid-row: span 1; /* Объединяем по вертикали на 2 строки */
        width: 330px;
        height: 135px;
    }
    
    .thore{
        width: 330px;
        grid-column: 2;
        height: 95px;
    }
    
    .thore svg{
        margin-right: 3px;
        margin-left: 5px;
    }
    
    .three{
        width: 330px;
        grid-column: 2;
        grid-row: 4;
        height: 95px;
    }
    
    .three svg{
        width: 47px;
        height: 40px;
        margin-right: 17px;
    }
    
    .five{
        grid-row: 5;
        background-color: #3D8568;
        color: #fff;
        width: 328px;
        height: 120px;
    }
    
    .five svg{
        margin-right: 3px;
        margin-left: 5px;
    }
    
    .six {
        grid-column: span 2; /* Объединяем по горизонтали на 2 колонки */
        grid-column: 2;
        height: 120px;
        width: 330px;
    }
    
    .six svg{
        margin-left: 4px;
      margin-right: 5px;
    }

    .seven{
        width: 330px;
        grid-column: 2;
        grid-row: 3;
        height: 120px;
    }
    
    .text{
        margin-top: 15px;
        width: 600px;
        font-size: 15px;
        line-height: 130%;
    }
    
    .text_under{
        margin: 25px 0;
        width: 521px;
        font-size: 15px;
    }
    
    .image{
        width: 524.15px;
height: 345.34px;
        top: 10px;
        right: 172px;
        position: relative;
        z-index: 10;
    }
}

@include viewport--xs {
    .container {
        padding-bottom: 0;
        margin-top: 68px;
    }

    .wrapper h1{
        font-size: 36px;
        margin-bottom: 20px;
    }

    .menu {
        position: relative;
        margin-top: 37px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
        align-items: center;
        gap: 20px; 
        grid-auto-rows: minmax(130px, 160px);
        row-gap: 21px;
        column-gap: 31px;
    }
    
    .content {
        grid-row: 1;
        display: flex; 
        align-items: center; 
        font-size: 20px;
        border: 1px solid #ccc; 
        border-radius: 20px; 
        text-decoration: none; 
        padding: 20px 10px;
    }
    
    .content svg{
        width: 70px;
        height: 40px;
        margin-left: 13px;
        margin-right: 20px;
    }
    
    .one{
        width: 250px;
        background-color: #3D8568;
        color: #fff;
    }
    
    .one svg{
        width: 70px;
        height: 40px;
    }
    
    .two {
        background-image: src('../../public/img/task__purpose-bg--asset.png');
        grid-column: span 1; /* Оставляем 1 колонку */
        width: 250px;
        height: 135px;
    }
    
    .three{
        width: 250px;
        height: 95px;
        grid-column: 4;
    }
    
    .three svg{
        width: 47px;
        height: 40px;
        margin-right: 17px;
    }

    .thore{
        width: 250px;
        height: 95px;
        grid-column: 5;
    }
    
    .thore svg{
        margin-right: 3px;
        margin-left: 5px;
    }

    .five{
        background-color: #3D8568;
        color: #fff;
        width: 250px;
        height: 120px;
        grid-column: 6;
    }
    
    .five svg{
        margin-right: 3px;
        margin-left: 5px;
    }
    
    .six {
        grid-column: span 2; /* Объединяем по горизонтали на 2 колонки */
        grid-column: 2;
        height: 120px;
        width: 250px;
        grid-column: 7;
    }
    
    .six svg{
        margin-left: 4px;
        margin-right: 5px;
    }

    .seven{
        width: 250px;
        height: 120px;
        grid-column: 3;
    }
    
    .text{
        margin-top: 15px;
        width: 300px;
        font-size: 15px;
        line-height: 130%;
    }
    
    .text_under{
        margin: 19px 0 21px 0;
        width: 300px;
        font-size: 15px;
    }
    
    .image{
        width: 320px;
        height: 210px;
        top: 83px;
        right: 0px;
        position: relative;
        z-index: 10;
    }
}