@import '@/styles/mixin.scss';
@import '@/styles/variables.scss';

.container{
    @include container;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
}

.navigation{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.logo svg{
    position: relative;
    width: 160px;
    height: 26px;
}

.logoActive {
    display: none;
}

.menu{
    align-items: center;
    position: relative;
    z-index: 1;
    list-style: none;
    display: flex;
    padding: 0;
    font-size: 13px;
    font-weight: 350;
    letter-spacing: 0%;
    text-align: left;
    gap: 50px;
}

.menu a{
    font-size: 16px;
    list-style: none;
    color: black;
}

.menu a:hover{
    color: rgb(61, 133, 104);
    text-decoration: underline;
}




.container::before {
    content: '';
    position: absolute;
    top: -228px;
    right: 122px;
    width: 639px;
    height: 639px;
    border-radius: 50%; 
    border: 80px solid #F5F9F7; 
    z-index: -1; 
}



.burger_icon{
    display: none;
}

@media (max-width: 1024px) {
    .container{
        width: 720px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding-top: 16px;
    }
    
    .logo svg{
        width: 160px;
        height: 45px;
    }
    
    .logoUnActive {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    
    .logoActive {
        display: block;
        opacity: 0;
        visibility: hidden;
    }
    

    .logo_active .logoUnActive {
        opacity: 0;
        visibility: hidden;
    }
    
    .logo_active .logoActive {
        position: fixed;
        opacity: 1;
        visibility: visible;
        z-index: 10;
        left: 70px;
        top: 730px;
    }
    
    .blur {
        position: fixed; /* Фиксируем элемент */
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
        backdrop-filter: blur(10px); /* Эффект размытия */
        z-index: 5; /* Убедитесь, что он выше других элементов */
    }

    .burger_icon{
        display: block;
        cursor: pointer;
        z-index: 10;
        right: -4px;
        top: 33px;
    }

    .burger_icon svg{
        width: 19px;
        height: 19px;
    }

    .closedMenu{
        position: absolute;
        right: 65px;
        top: 15px;
    }
    
    .menu{
        padding: 50px 70px;
        background-color: #F5F9F7;
        position: absolute;
        display: none;
        align-items: center;
        flex-direction: column;
        width: 90vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: all 0.2s;
    }
    
    .menu_active{
        opacity: 1; // Меню видимо
        transform: translateY(0); // Возвращаем в исходное положение
        pointer-events: auto;
        display: block;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        margin: 0;
    }

    .menu li{
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .container::before{
        right: -360px;
    }

}
   
@media (max-width: 320px) {
    .container{
        width: 320px;
        margin-left: 1px;
        margin-right: 1px;
        margin-top: 13px;
    }

    .logo {
        transition: transform 0.9s ease, color 0.3s ease; 
        z-index: 10;
    }
    
    .logo_active {
        color: gray; 
        z-index: 10;
    }

    .logo svg{
        width: 120px;
        height: 20px;
    }

    .logoUnActive {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }
    
    .logoActive {
        opacity: 0;
        visibility: hidden;
    }
    

    .logo_active .logoUnActive {
        opacity: 0;
        visibility: hidden;
    }
    
    .logo_active .logoActive {
        position: fixed;
        opacity: 1;
        visibility: visible;
        z-index: 10;
        left: 20px;
        top: 330px;
    }
    
    .blur {
        position: fixed; /* Фиксируем элемент */
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
        backdrop-filter: blur(10px); /* Эффект размытия */
        z-index: 5; /* Убедитесь, что он выше других элементов */
    }

    .burger_icon{
        display: block;
        position: relative;
        cursor: pointer;
        z-index: 10;
    }

    .burger_icon svg{
        width: 18px;
        height: 14px;
    }

    .openMenu{
        position: absolute;
        top: -38px;
        right: 5px; 
    }

    .closedMenu{
        position: absolute;
        right: 80px;
        top: -20px;
    }
    
    .menu{
        padding: 0 0 0 0;
        background-color: #F5F9F7;
        position: fixed;
        display: none;
        align-items: center;
        flex-direction: column;
        width: 90vw;
        height: 100vh;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: all 0.2s;
    }
    
    .menu_active{
        transform: translateX(0);
        display: block;
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    }

    .menu li{
        margin-top: 15px;
        margin-bottom: 15px;
        padding: 10px 20px 0 20px;
    }

    .container::before{
        left: 197px;
        top: -242px;
        position: absolute
    }
}


