@import '@/styles/mixin.scss';
@import '@/styles/variables.scss';

.container {
    @include container;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-top: 158px;
}

.warp h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    width: 500px;
    font-weight: 700;
    line-height: 120%;
    margin: 25px 0 10px 0;
    text-align: left;
}

.scrollable {
    width: 560px;
    height: 440px;
    overflow-y: auto;
    padding: 10px 0px 10px 45px;
}

.buttonOne{
    width: 238px;
    height: 50px;
    border-radius: 50px;
    margin-top: 35px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    border: 2px solid rgb(61, 133, 104);
    background-color: rgb(61, 133, 104);
}

.menu{
    display: flex;
    flex-direction: column;
    width: 445px;
    margin: 25px 0;
    border-radius: 20px;
    padding: 47px 10px 42px 30px;
    background: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
    text-align: left;
}

.menu li{
    display: flex;
    padding: 30px;
}

.menu_active{
    color: rgb(61, 133, 104);
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.menu a {
    padding-right: 30px;
}

.container::before {
    content: "";
    top: 391px;
    left: 833px;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    border: 80px solid #4a9781;
    position: absolute;
    z-index: -2;
}

@include viewport--m{
    .container {
        width: 720px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        padding-bottom: 50px;
        margin-top: 60px;
    }


    .warp h1{
        color: rgb(0, 0, 0);
        font-size: 36px;
        width: 420px;
        font-weight: 700;
        line-height: 120%;
        margin: 3px 0 10px 0;
        text-align: left;
    }

    .scrollable {
        width: 420px;
        height: 440px;
        overflow-y: auto;
        padding: 10px 0px 10px 45px;
    }
    
    .buttonOne{
        width: 238px;
        height: 50px;
        border-radius: 50px;
        margin-top: 35px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        border: 2px solid rgb(61, 133, 104);
        background-color: rgb(61, 133, 104);
    }

    .menu{
        display: flex;
        flex-direction: column;
        width: 270px;
        height: 621px;
        margin: 50px 0;
        border-radius: 20px;
        padding: 29px 1px 28px 7px;
        background: rgb(245, 245, 245);
        color: rgb(0, 0, 0);
        font-size: 18px;
        line-height: 110%;
        text-align: left;
    }
    
    .menu li{
        display: flex;
        padding: 26px 22px;
    }
    
    .menu_active{
        color: rgb(61, 133, 104);
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }
    
    .menu a {
        padding-right: 12px;
    }
}

@include viewport--xs {
    .container {
        width: 320px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        position: relative;
        z-index: 1;
        padding-bottom: 50px;
        margin-top: 60px;
    }

    .warp h1{
        color: rgb(0, 0, 0);
        font-size: 36px;
        width: 240px;
        font-weight: 700;
        line-height: 120%;
        margin: 3px 0 10px 0;
        text-align: left;
    }

    .scrollable {
        width: 290px;
        height: 485px;
        overflow-y: auto;
        padding: 10px 0px 10px 0px;
    }
    
    .buttonOne{
        width: 290px;
        height: 50px;
        border-radius: 50px;
        margin-top: 35px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        border: 2px solid rgb(61, 133, 104);
        background-color: rgb(61, 133, 104);
    }

    .menu{
        display: flex;
        flex-direction: row;
        overflow-x: auto;
        width: 290px;
        height: 169px;
        margin: 64px 0 26px 0;
        border-radius: 20px;
        padding: 29px 0 28px 0;
        color: rgb(0, 0, 0);
        font-size: 18px;
        line-height: 110%;
        text-align: left;
    }

    .menu ul{
        position: relative;
        width: 600px; /* Общая ширина слайдера */
        overflow: hidden;
    }
    
    .menu li{
        display: flex;
        min-width: 320px;
        padding: 26px 22px;
    }
    
    .menu_active{
        color: rgb(61, 133, 104);
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }
    
    .menu a {
        padding-right: 12px;
    }
}