@import '@/styles/mixin.scss';
@import '@/styles/variables.scss';

.container {
    @include container;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-top: 158px;
}

.warp h1{
    color: rgb(0, 0, 0);
    font-size: 40px;
    width: 500px;
    font-weight: 700;
    line-height: 120%;
    margin: 25px 0 10px 0;
    text-align: left;
}

.scrollable {
    padding: 10px 0px 10px 45px;
    max-width: 560px;
    height: 440px; /* Задайте нужную высоту */
    overflow-y: scroll; /* Включаем вертикальную прокрутку */
    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: green rgba(0, 0, 0, 0.5); /* Цвет скролла и фона */
}

.scrollable::-webkit-scrollbar {
    width: 8px; /* Ширина скролла */
}

.scrollable::-webkit-scrollbar-thumb {
    background-color: green; /* Цвет скролла */
    border-radius: 10px; /* Закругление углов */
}

.scrollable::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5); /* Цвет фона скролла */
}


.buttonOne{
    width: 238px;
    height: 50px;
    border-radius: 50px;
    margin-top: 35px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    border: 2px solid rgb(61, 133, 104);
    background-color: rgb(61, 133, 104);
}

.menuTwo{
    display: none;
}

.menu{
    display: flex;
    flex-direction: column;
    width: 445px;
    margin: 25px 0;
    border-radius: 20px;
    padding: 47px 10px 42px 30px;
    background: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 700;
    line-height: 110%;
    text-align: left;
}

.menu li{
    display: flex;
    padding: 30px;
}

.menu_active{
    color: rgb(61, 133, 104);
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.menu a {
    padding-right: 30px;
}

.container::before {
    content: "";
    top: 391px;
    left: 833px;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    border: 80px solid #4a9781;
    position: absolute;
    z-index: -2;
}

@include viewport--m{
    .container {
        width: 720px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        padding-bottom: 50px;
        margin-top: 60px;
    }


    .warp h1{
        color: rgb(0, 0, 0);
        font-size: 36px;
        width: 420px;
        font-weight: 700;
        line-height: 120%;
        margin: 3px 0 10px 0;
        text-align: left;
    }

    .scrollable {
        padding: 10px 0px 10px 45px;
        height: 420px; /* Задайте нужную высоту */
        overflow-y: scroll; /* Включаем вертикальную прокрутку */
        scrollbar-width: thin; /* Для Firefox */
        scrollbar-color: green rgba(0, 0, 0, 0.5); /* Цвет скролла и фона */
    }
    
    .scrollable::-webkit-scrollbar {
        width: 8px; /* Ширина скролла */
    }
    
    .scrollable::-webkit-scrollbar-thumb {
        background-color: green; /* Цвет скролла */
        border-radius: 10px; /* Закругление углов */
    }
    
    .scrollable::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.5); /* Цвет фона скролла */
    }
    
    .buttonOne{
        width: 238px;
        height: 50px;
        border-radius: 50px;
        margin-top: 35px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        border: 2px solid rgb(61, 133, 104);
        background-color: rgb(61, 133, 104);
    }

    .menu{
        display: flex;
        flex-direction: column;
        width: 270px;
        height: 621px;
        margin: 50px 0;
        border-radius: 20px;
        padding: 29px 1px 28px 7px;
        background: rgb(245, 245, 245);
        color: rgb(0, 0, 0);
        font-size: 18px;
        line-height: 110%;
        text-align: left;
    }
    
    .menu li{
        display: flex;
        padding: 26px 22px;
    }
    
    .menu_active{
        color: rgb(61, 133, 104);
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }
    
    .menu a {
        padding-right: 12px;
    }
}

@include viewport--xs {
    .container {
        width: 320px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        position: relative;
        z-index: 1;
        padding-bottom: 50px;
        margin-top: 60px;
    }

    .warp h1{
        color: rgb(0, 0, 0);
        font-size: 36px;
        width: 240px;
        font-weight: 700;
        line-height: 120%;
        margin: 3px 0 10px 0;
        text-align: left;
    }

    .scrollable {
        width: 290px;
        height: 485px;
        overflow-y: auto;
        padding: 10px 0px 10px 0px;
    }
    
    .buttonOne{
        width: 290px;
        height: 50px;
        border-radius: 50px;
        margin-top: 35px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        text-align: center;
        border: 2px solid rgb(61, 133, 104);
        background-color: rgb(61, 133, 104);
    }

    .menu{
        display: none;
    }

    .menuTwo{
        display: block;
        width: 320px;
        height: 168px;
        margin: 46px 0;
        border-radius: 20px;
        padding: 29px 1px 28px 7px;
        background: rgb(245, 245, 245);
        color: rgb(0, 0, 0);
        font-size: 18px;
        line-height: 110%;
        text-align: left;
    }

    .menuTwo ul{
        position: relative;
        width: 700px; /* Общая ширина слайдера */
        overflow: hidden;
    }
    
    .menuTwo li{
        display: flex;
        width: 220px;
        padding: 26px 39px;
    }
    
    .menu_active{
        color: rgb(61, 133, 104);
        font-size: 20px;
        line-height: 120%;
        letter-spacing: 0%;
        text-align: left;
    }
    
    .menuTwo a {
        padding-right: 12px;
    }

    .swiper-slide {
        width: 300px; /* Установите нужную ширину */
        height: 250px; /* Установите нужную высоту */
    }

    .custom-paginations {
        position: absolute; /* Или relative, в зависимости от вашего макета */
        bottom: 20px; /* Положение по вертикали */
        left: 50%; /* Центрирование по горизонтали */
        transform: translateX(-50%); /* Центрирование */
        display: flex; /* Для горизонтального расположения */
    }
    
    .custom-paginations .swiper-pagination-bullet {
        width: 10px; /* Ширина точки */
        height: 10px; /* Высота точки */
        border-radius: 50%; /* Круглая форма */
        margin: 0 5px; /* Отступ между точками */
        transition: background 0.3s, width 0.3s;
    }
    
    .custom-paginations .swiper-pagination-bullet{
        --swiper-theme-color: #4a9781;
        width: 15px; 
    }
}