@use 'variables' as *;

  @mixin viewport--m {
    @media (max-width: ($m-width)) {
      @content;
    }
  }
  
  @mixin viewport--s {
    @media (max-width: ($xs-width)) {
      @content;
    }
  }
  
  @mixin viewport--xs {
    @media (max-width: ($xxs-width)) {
      @content;
    }
  }
  
  @mixin viewport($size) {
    @media (max-width: $size) {
      @content;
    }
  }

  @mixin container {
    width: $m-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
    @include viewport--m {
      width: $xs-width;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: auto;
      margin-right: auto;
    }
  
    @include viewport--xs {
      width: $xxs-width;
      min-width: $xxs-width;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 0;
      margin-right: 0;
    }
  }
  
  @mixin custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #f1f1f1;
  
    &::-webkit-scrollbar {
      width: 4px;
    }
  
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: var(--primary-color);
      border-radius: 8px;
    }
  }

  @mixin btn-reset {
    background-color: transparent;
    border: none;
    padding: 0;
    box-shadow: none;
  }
  
  