@import '@/styles/mixin.scss';
@import '@/styles/variables.scss';

.container {
    @include container;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 120px;
    width: 1110px;
    height: 100px;
    background: rgb(245, 245, 245);
    border-radius: 20px 20px 0px 0px;
}

.text{
    color: rgb(108, 108, 108);
    font-size: 14px;
    font-weight: 350;
    line-height: 130%;
    text-align: left;
    margin: 39px 0px 0 26px;
}

.text_under{
    color: rgb(108, 108, 108);
    font-size: 14px;
    font-weight: 350;
    line-height: 130%;
    margin: 39px 25px 0 0;
    text-align: right;
    text-decoration-line: underline;
}