.container {
    display: flex;
    align-items: flex-start;
    width: 58%;
    margin: auto;
    max-width: 1900px;
    min-width: 800px;
    margin: auto;
    position: relative;
}

.content{
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 20px;
    padding: 35px 45px 35px 40px;
    margin: 20px;
    background: rgb(245, 245, 245);
    font-size: 16px;
    font-weight: 350;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}




.contentList{
    display: flex;
	font-size: 16px;
	font-weight: 500;
}

.contentList svg{
    width: 30px;
    height: 30px;
}


.text{
    color: rgb(0, 0, 0);
    font-size: 33px;
    margin-bottom: 21px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.text_under{
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 350;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.textColumn {
    flex: 1;
}

.column{
    margin: 30px 10px;
    display: flex;
    flex-direction: row;
}

.item, .items{
    list-style-type: none; /* Убираем маркеры списка */
    padding: 50px 40px 20px 40px;
    background-size: cover; /* Размер фона */
    background-position: center;
    border-radius: 25px;
    margin: 10px; /* Отступ между элементами списка */
    color: white;
    height: 210px;
}

.item {
    background-image: url('../../public/img/task__purpose-bg.png');
    width: 55%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 350;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.item h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.items{
    background-image: url('../../public/img/task__purpose-bg--asset.png');
    width: 45%;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 350;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.items h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}