@import '@/styles/mixin.scss';
@import '@/styles/variables.scss';

.container{
    @include container;
    display: flex;
    align-items: center;
    padding-top: 66px;
}

.text{
    width: 650px;
    position: relative;
	font-size: 45px;
    font-weight: 700;
    margin-bottom: 23px;
}

.text_under{
    position: relative;
    font-size: 20px;
    font-weight: 350;
}

.textColumn {
    flex: 1;
}

.buttonContainer{
    display: flex;
    gap: 5px;
    margin-top: 54px;
}

.buttonOne{
    padding: 13px 0;
    width: 271px;
    border-radius: 50px;
    margin: 15px 11px 15px 0px;
    color: rgb(255, 255, 255);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: center;
    border: 2px solid rgb(61, 133, 104);
    background-color: rgb(61, 133, 104);
}


.buttonTwo{
    padding: 13px 0;
    width: 271px;
    border-radius: 50px;
    margin: 15px 25px;
    color: rgb(61, 133, 104);
    font-size: 16px;
    letter-spacing: 0%;
    text-align: center;
    border: 3px solid rgb(61, 133, 104);
}

.imageColumn {
    margin-top: 50px;
    display: flex;
    gap: 60px;
}

.svgOne, .svgTwo{
    margin: 0 20px 0 4px;
    width: 80px;
    height: 30px;
}

.content{
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 13px;
    letter-spacing: 0%;
    margin: 0 0;
    position: relative;
}

.image {
    right: 27px;
    top: 6px;
    position: relative;
    height: 495px;
    width: 639px;
    z-index: 1;
}

.container::before {
    content: '';
    top: 57px;
    right: -179px;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    border: 80px solid #4a9781;
    position: absolute;
    z-index: -2;
}

@include viewport--m {
    .container {
        width: 720px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        padding-bottom: 50px;
        padding-top: 37px;
    }
    
    .text{
        width: 420px;
        position: relative;
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 29px;
    }
    
    .text_under{
        position: relative;
        width: 390px;
        font-size: 18px;
        margin-bottom: 27px;
        line-height: 126%;
        font-weight: 350;
    }
    
    .textColumn {
        flex: 1;
    }
    
    .buttonOne{
        padding: 16px 48px;
        width: auto;
        border-radius: 50px;
        margin: 10px 0px 15px 0px;
        color: rgb(255, 255, 255);
        font-size: 16px;
        letter-spacing: 0%;
        text-align: center;
        border: 2px solid rgb(61, 133, 104);
        background-color: rgb(61, 133, 104);
    }
    
    
    .buttonTwo{
        padding: 0px 35px;
        width: 151px;
        border-radius: 50px;
        margin: 10px 0px 15px 23px;
        color: rgb(61, 133, 104);
        font-size: 17px;
        letter-spacing: 0%;
        text-align: center;
        border: 3px solid rgb(61, 133, 104);
    }
    
    .imageColumn {
        width: 450px;
        margin-top: 34px;
        line-height: 120%;
        display: flex;
        align-self: flex-end;
        flex-wrap: wrap;
        gap: 25px;
    }
    
    .svgOne{
        margin: 4px 23px 0 2px;
        width: 62px;
        height: 27px;
    }

    .svgTwo{
        margin: 0px 16px 0 10px;
        width: 59px;
        height: 34px;
    }

    .content{
        display: flex;
        color: rgb(0, 0, 0);
        font-size: 14px;
        letter-spacing: 0%;
        position: relative;
    }

    .image{
    width: 689px;
    height: 533px;
    top: -26px;
    right: 78px;
    position: relative;
    z-index: 10;
    }

    .container::before {
    top: -9px;
    left: 495px;
    width: 900px;
    height: 900px;
    border-radius: 50%;
    border: 80px solid #4a9781;
    z-index: -2;
    }
}

@media (max-width: 320px) {
    .container {
        width: 320px;
        padding-left: 15px;
        padding-right: 15px;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
        padding-bottom: 70px;
    }
    
    .text{
        width: 320px;
        position: relative;
        font-size: 29px;
        font-weight: 700;
        margin: 2px 0px 0 0;
    }
    
    .text_under{
        position: relative;
        width: 310px;
        font-size: 18px;
        margin: 33px 0 27px 0;
        font-weight: 350;
    }
    
    .textColumn {
        flex: 1;
    }
    
    .imageColumn {
        width: 300px;
        display: flex;
        gap: 30px;
        align-self: flex-end;
        flex-wrap: wrap;
        margin-bottom: 280px;
    }
    
    .svgOne{
        margin: 5px 25px 0 0px;
        width: 94px;
        height: 27px;
    }

    .svgTwo{
        margin: 0px 21px 0 0;
        width: 70px;
        height: 35px;
    }

    .content{
        display: flex;
        color: rgb(0, 0, 0);
        font-size: 14px;
        line-height: 127%;
        position: relative;
    }

    .buttonContainer{
        display: flex;
        flex-direction: column-reverse;
        margin: 0;
    }
    
    .buttonOne{
        width: 290px;
        padding: 14px 18px;
        border-radius: 50px;
        margin: 11px 3px 15px 0px;
        color: rgb(255, 255, 255);
        font-size: 17px;
        letter-spacing: 0%;
        text-align: center;
        border: 2px solid rgb(61, 133, 104);
        background-color: rgb(61, 133, 104);
    }
    
    
    .buttonTwo{
        width: 290px;
        padding: 12px 18px;
        border-radius: 50px;
        margin: 35px 3px 0px 0px;
        color: rgb(61, 133, 104);
        font-size: 17px;
        letter-spacing: 0%;
        text-align: center;
        border: 3px solid rgb(61, 133, 104);
    }



    .image{
        display: block;
        width: 320px;
        height: 255px;
        right: 318px;
        top: 219px;
        position: relative;
        z-index: 10;
    }

    .container::before {
        top: 43px;
        left: 573px;
        width: 800px;
        height: 800px;
        border-radius: 50%;
        border: 80px solid #4a9781;
        z-index: -2;
    }
}
