@import '@/styles/mixin.scss';
@import '@/styles/variables.scss';

.container {
    @include container;
    position: relative;
    margin-top: 183px;
}

.container h1{
    font-size: 40px;
    margin: 0px 10px 8px 0px;
}

.btn_prev{
    position: absolute;
    background-color: white;
    color: white;
    border: white;
    width: 46px;
    height: 40px;
    right: 61px;
    top: 10px;;
}

.btn_prev svg{
    position: absolute;
    width: 36px;
    height: 36px;
    right: 5px;
    top: 2px;
}

.btn_next{
    position: absolute;
    background-color: white;
    color: white;
    border: white;
    width: 46px;
    height: 40px;
    right: 10px;
    top: 10px;
}

.btn_next svg{
    position: absolute;
    transform: scaleX(-1);
    width: 36px;
    height: 36px;
    right: 5px;
    top: 2px;
}

.hover {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.unHover {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease;
}

.btn_prev:hover .hover {
    opacity: 1;
    visibility: visible;
}

.btn_prev:hover .unHover {
    opacity: 0;
    visibility: hidden;
}

.btn_next:hover .hover {
    opacity: 1;
    visibility: visible;
}

.btn_next:hover .unHover {
    opacity: 0;
    visibility: hidden;
}

.text{
    font-size: 16px;
}

.text_under{
    display: flex;
    align-items: flex-end;
    color: rgb(61, 133, 104);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    margin-top: 1px;
    gap: 30px; 
}

.example {
    display: flex;
    flex-direction: column; /* Устанавливаем направление по вертикали */
    justify-content: space-between;
    background-color: #F5F5F5; 
    font-size: 14px;
    padding: 29px 40px 33px 40px; 
    line-height: 150%;
    border-radius: 20px; 
    width: 175px;
    height: 261px;
    margin-top: 21px;
}

.example:hover{
    background-color: rgb(61, 133, 104);
    color: white;
    .text_under{
        color: #F5F5F5;
    }
}

@include viewport--m{
    .container{
        position: relative;
        margin-top: 110px;
    }
    
    .container h1{
        font-size: 36px;
        margin: 0px 10px 8px 0px;
    }

    .btn_prev{
        position: absolute;
        background-color: white;
        color: white;
        border: white;
        width: 46px;
        height: 40px;
        right: 61px;
        top: -2px;;
    }
    
    .btn_prev svg{
        position: absolute;
        width: 36px;
        height: 36px;
        right: 5px;
        top: 2px;
    }
    
    .btn_next{
        position: absolute;
        background-color: white;
        color: white;
        border: white;
        width: 46px;
        height: 40px;
        right: 10px;
        top: -2px;
    }
    
    .btn_next svg{
        position: absolute;
        transform: scaleX(-1);
        width: 36px;
        height: 36px;
        right: 5px;
        top: 2px;
    }
    
    .text{
        font-size: 15px;
    }
    
    .text_under{
        display: flex;
        align-items: flex-end;
    }

    .text_under h1{
        font-size: 40px;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        margin-top: 1px;
        gap: 30px; 
    }
    
    .example {
        display: flex;
        flex-direction: column; /* Устанавливаем направление по вертикали */
        justify-content: space-between;
        background-color: #F5F5F5; 
        font-size: 14px;
        padding: 30px 40px 33px 30px;
        line-height: 133%;
        border-radius: 20px; 
        width: 140px;
        height: 261px;
        margin-top: 13px;
    }
}

@include viewport--xs {
    .container{
        position: relative;
        margin-top: 98px;
    }
    
    .container h1{
        font-size: 36px;
        margin: 0px 10px 8px 0px;
    }
    
    .text{
        font-size: 15px;
    }
    
    .text_under{
        display: flex;
        align-items: flex-end;
    }

    .text_under h1{
        font-size: 40px;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        margin-top: 1px;
        gap: 30px; 
    }
    
    .example {
        display: flex;
        flex-direction: column; /* Устанавливаем направление по вертикали */
        justify-content: space-between;
        background-color: #F5F5F5; 
        font-size: 14px;
        padding: 30px 40px 33px 30px;
        line-height: 133%;
        border-radius: 20px; 
        width: 140px;
        height: 260px;
        margin-top: 10px;
        margin-bottom: 23px;
    }

    .custom-pagination {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    
        .customBullet {
            background-color: #007aff !important;
            color: white;
            padding: 10px;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
            font-size: 16px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 0.3s ease;
    
            &:hover {
                background-color: #ff5733 !important;
            }
        }
    
        /* Активный буллет */
        .swiper-pagination-bullet-active {
            background-color: #ff5733 !important;
        }
    }
}

